# licensed
documents/papers/*
!documents/papers/summaries/
!documents/papers/summaries/**
documents/presentation/
documents/manual/

#claude
CLAUDE.md
AGENTS.md

#system
*/@eaDir
@eaDir

#large files
software/data

#old
software/src_references

#cache
.DS_Store
__pycache__/
*.pyc
.Xil/
.claude/
hardware/vivado/build/
